@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
}

body {
  height: 100vh;
  font-family: "CustomFont", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 50%;
  width: 60%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  border-radius: 15px;
  width: 50%;
}

.result {
  color: var(--light-lavender);
  font-weight: 700;
}

.result-number {
  width: 50%;
  height: 35%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result-number-first {
  color: var(--white);
  font-weight: 800;
  font-size: 3rem;
}

.result-number-second {
  color: var(--light-lavender);
  font-size: 0.7rem;
}

.sub-result {
  text-align: center;
}

.sub-result-number {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sub-result-details {
  color: var(--light-lavender);
  text-align: center;
  font-size: 0.8rem;
  width: 75%;
  margin: 0 auto;
}

.right {
  background-color: var(--white);
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.summary {
  font-weight: 700;
  margin: 10px 0 0 10%;
  align-self: flex-start;
}

.stats {
  width: 80%;
}

.stats div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.stats-left > * {
  margin-left: 10px;
}

.reaction,
.memory,
.verbal,
.visual {
  height: 2.5rem;
  margin-bottom: 10px;
}

.score {
  font-weight: 700;
  font-size: 0.8rem;
  margin-right: 5px;
  text-align: baseline;
}

.reaction-text,
.memory-text,
.verbal-text,
.visual-text {
  font-weight: 500;
  font-size: 0.8rem;
}

.hundred {
  color: var(--light-lavender);
  margin-left: 5px;
  font-size: 0.8rem;
}

.reaction {
  background: hsla(0, 100%, 67%, 0.1);
}

.reaction-text {
  color: var(--light-red);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.memory-text {
  color: var(--orangey-yellow);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal-text {
  color: var(--green-teal);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.visual-text {
  color: var(--cobalt-blue);
}

button {
  background-color: var(--dark-gray-blue);
  color: var(--white);
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}
